In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame, Series
import os
import platform

In [7]:
df = pd.DataFrame({'key1' : ['a', 'a', 'b', 'b', 'a'],
                   'key2' : ['one', 'two', 'one', 'two', 'one'], 
                   'data1' : np.random.randn(5), 
                   'data2' : np.random.randn(5)})
grouped = df['data1'].groupby(df['key1'])
grouped.mean()

key1
a    0.179351
b    0.490748
Name: data1, dtype: float64

In [8]:
df['data1'].groupby([df['key1'], df['key2']]).mean()

key1  key2
a     one     1.161805
      two    -1.785559
b     one     0.291601
      two     0.689896
Name: data1, dtype: float64

In [10]:
states = np.array(['Ohio', 'California', 'California', 'Ohio', 'Ohio'])
years = np.array([2005, 2005, 2006, 2005, 2006])
df['data1'].groupby([states, years]).mean()

California  2005   -1.785559
            2006    0.291601
Ohio        2005    0.705195
            2006    1.603116
Name: data1, dtype: float64

In [11]:
for name, group in df.groupby('key1'):
    print(name)
    print(group)

a
      data1     data2 key1 key2
0  0.720494 -1.465856    a  one
1 -1.785559  0.687597    a  two
4  1.603116  2.027358    a  one
b
      data1     data2 key1 key2
2  0.291601 -2.103113    b  one
3  0.689896 -0.495138    b  two

In [12]:
for (k1, k2), group in df.groupby(['key1', 'key2']):
    print((k1, k2))
    print(group)

('a', 'one')
      data1     data2 key1 key2
0  0.720494 -1.465856    a  one
4  1.603116  2.027358    a  one
('a', 'two')
      data1     data2 key1 key2
1 -1.785559  0.687597    a  two
('b', 'one')
      data1     data2 key1 key2
2  0.291601 -2.103113    b  one
('b', 'two')
      data1     data2 key1 key2
3  0.689896 -0.495138    b  two

In [13]:
list(df.groupby('key1'))

[('a',       data1     data2 key1 key2
  0  0.720494 -1.465856    a  one
  1 -1.785559  0.687597    a  two
  4  1.603116  2.027358    a  one), ('b',       data1     data2 key1 key2
  2  0.291601 -2.103113    b  one
  3  0.689896 -0.495138    b  two)]