In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame, Series

In [7]:
data = pd.Series(np.random.randn(9),
                 index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
                        [1, 2, 3, 1, 3, 1, 2, 2, 3]])
print('data=\n', data, '\n')
print('data.index is', data.index)
data.unstack()

data=
 a  1   -0.274231
   2   -0.286442
   3    0.605590
b  1   -0.891281
   3   -1.021753
c  1   -0.419234
   2    1.901079
d  2   -1.129520
   3    0.050254
dtype: float64

data.index is MultiIndex(levels=[['a', 'b', 'c', 'd'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 2, 2, 3, 3], [0, 1, 2, 0, 2, 0, 1, 1, 2]])

          1         2         3
a -0.274231 -0.286442  0.605590
b -0.891281       NaN -1.021753
c -0.419234  1.901079       NaN
d       NaN -1.129520  0.050254

In [9]:
frame = pd.DataFrame(np.arange(12).reshape((4, 3)),
                     index=[['a', 'a', 'b', 'b'], [1, 2, 1, 2]],
                     columns=[['Ohio', 'Ohio', 'Colorado'],
                              ['Green', 'Red', 'Green']])

frame.index.names = ['key1', 'key2']
frame.columns.names = ['state', 'color']
frame

state      Ohio     Colorado
color     Green Red    Green
key1 key2
a    1        0   1        2
     2        3   4        5
b    1        6   7        8
     2        9  10       11

In [16]:
frame['Colorado']

color      Green
key1 key2
a    1         2
     2         5
b    1         8
     2        11