# pandas基础

In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame
import os

In [5]:
pd.__version__

'1.0.3'

In [2]:
os.getcwd()

'/Users/machuan/CodeSpace/python3/python3_books/pandas学习'

In [8]:
df_csv = pd.read_csv('../../dataset/pandas/table.csv')
df_csv.head()

  School Class    ID Gender   Address  Height  Weight  Math Physics
0    S_1   C_1  1101      M  street_1     173      63  34.0      A+
1    S_1   C_1  1102      F  street_2     192      73  32.5      B+
2    S_1   C_1  1103      M  street_2     186      82  87.2      B+
3    S_1   C_1  1104      F  street_2     167      81  80.4      B-
4    S_1   C_1  1105      F  street_4     159      64  84.8      B+

## 文件的读取和写入

### （a）CSV格式

### (b) txt格式

In [4]:
df_text = pd.read_table('../../dataset/pandas/table.txt')
df_text

   col1 col2  col3    col4
0     2    a   1.4   apple
1     3    b   3.4  banana
2     6    c   2.5  orange
3     5    d   3.2   lemon

### (c)xls或xlsx格式

In [5]:
# 需要安装xlrd包
df_excel = pd.read_excel('../../dataset/pandas/table.xlsx')
df_excel.head()

  School Class    ID Gender   Address  Height  Weight  Math Physics
0    S_1   C_1  1101      M  street_1     173      63  34.0      A+
1    S_1   C_1  1102      F  street_2     192      73  32.5      B+
2    S_1   C_1  1103      M  street_2     186      82  87.2      B+
3    S_1   C_1  1104      F  street_2     167      81  80.4      B-
4    S_1   C_1  1105      F  street_4     159      64  84.8      B+

## 写入

### (a) CSV格式

In [ ]:
# df.to_csv('data/new_table.csv', index=False) # 保存时去掉行所索引

### (b) xlsx格式

In [7]:
# 需要安装openpyxl包
# df.to_excel('data/new_table2.xlsx', sheet_name='Sheet1')

In [6]:
# 需要安装openpyxl包
# df.to_excel('data/new_table2.xlsx', sheet_name='Sheet1')

## 基本数据结构

### Series

- 创建一个Series

In [8]:
s = pd.Series(np.random.randn(5),index=['a','b','c','d','e'],name='这是一个Series',dtype='float64')
s

a   -0.463212
b    1.320208
c    0.492121
d   -0.393636
e    0.231170
Name: 这是一个Series, dtype: float64

- 访问Series属性

In [12]:
print(s.values)
print(s.index)
print(s.dtype)
print(s.name)

[ 0.21818677  0.88138515  0.17436295 -0.48236052  1.20026976]
Index(['a', 'b', 'c', 'd', 'e'], dtype='object')
float64
这是一个Series

- 取出一个元素

In [13]:
s['a']

0.21818677035074768

- 调用方法

In [16]:
s.mean()

0.3983688216132283

- Series有相当多的方法可以调用

In [18]:
print([attr for attr in dir(s) if not attr.startswith('_')])

['T', 'a', 'abs', 'add', 'add_prefix', 'add_suffix', 'agg', 'aggregate', 'align', 'all', 'any', 'append', 'apply', 'argmax', 'argmin', 'argsort', 'array', 'asfreq', 'asof', 'astype', 'at', 'at_time', 'attrs', 'autocorr', 'axes', 'b', 'between', 'between_time', 'bfill', 'bool', 'c', 'clip', 'combine', 'combine_first', 'convert_dtypes', 'copy', 'corr', 'count', 'cov', 'cummax', 'cummin', 'cumprod', 'cumsum', 'd', 'describe', 'diff', 'div', 'divide', 'divmod', 'dot', 'drop', 'drop_duplicates', 'droplevel', 'dropna', 'dtype', 'dtypes', 'duplicated', 'e', 'empty', 'eq', 'equals', 'ewm', 'expanding', 'explode', 'factorize', 'ffill', 'fillna', 'filter', 'first', 'first_valid_index', 'floordiv', 'ge', 'get', 'groupby', 'gt', 'hasnans', 'head', 'hist', 'iat', 'idxmax', 'idxmin', 'iloc', 'index', 'infer_objects', 'interpolate', 'is_monotonic', 'is_monotonic_decreasing', 'is_monotonic_increasing', 'is_unique', 'isin', 'isna', 'isnull', 'item', 'items', 'iteritems', 'keys', 'kurt', 'kurtosis', 'last', 'last_valid_index', 'le', 'loc', 'lt', 'mad', 'map', 'mask', 'max', 'mean', 'median', 'memory_usage', 'min', 'mod', 'mode', 'mul', 'multiply', 'name', 'nbytes', 'ndim', 'ne', 'nlargest', 'notna', 'notnull', 'nsmallest', 'nunique', 'pct_change', 'pipe', 'plot', 'pop', 'pow', 'prod', 'product', 'quantile', 'radd', 'rank', 'ravel', 'rdiv', 'rdivmod', 'reindex', 'reindex_like', 'rename', 'rename_axis', 'reorder_levels', 'repeat', 'replace', 'resample', 'reset_index', 'rfloordiv', 'rmod', 'rmul', 'rolling', 'round', 'rpow', 'rsub', 'rtruediv', 'sample', 'searchsorted', 'sem', 'set_axis', 'shape', 'shift', 'size', 'skew', 'slice_shift', 'sort_index', 'sort_values', 'squeeze', 'std', 'sub', 'subtract', 'sum', 'swapaxes', 'swaplevel', 'tail', 'take', 'to_clipboard', 'to_csv', 'to_dict', 'to_excel', 'to_frame', 'to_hdf', 'to_json', 'to_latex', 'to_list', 'to_markdown', 'to_numpy', 'to_period', 'to_pickle', 'to_sql', 'to_string', 'to_timestamp', 'to_xarray', 'transform', 'transpose', 'truediv', 'truncate', 'tshift', 'tz_convert', 'tz_localize', 'unique', 'unstack', 'update', 'value_counts', 'values', 'var', 'view', 'where', 'xs']

### DataFrame

#### DataFrame基础

- 创建一个DataFrame

In [4]:
df = pd.DataFrame({'col1':list('abcde'),'col2':range(5,10),'col3':[1.3,2.5,3.6,4.6,5.8]},
                 index=list('一二三四五'))
df

  col1  col2  col3
一    a     5   1.3
二    b     6   2.5
三    c     7   3.6
四    d     8   4.6
五    e     9   5.8

- 从DataFrame取出一列为Series

In [12]:
type(df['col1'])

pandas.core.series.Series

#### 修改行列名

In [5]:
print(df.index)
print(df.columns)

Index(['一', '二', '三', '四', '五'], dtype='object')
Index(['col1', 'col2', 'col3'], dtype='object')

In [6]:
df.rename(index={'一':'one'}, columns={'col1':'new_col1'})

    new_col1  col2  col3
one        a     5   1.3
二          b     6   2.5
三          c     7   3.6
四          d     8   4.6
五          e     9   5.8

## 排序

In [11]:
print('index is:',df_csv.index)
print('columns is:', df_csv.columns)

index is: RangeIndex(start=0, stop=35, step=1)
columns is: Index(['School', 'Class', 'ID', 'Gender', 'Address', 'Height', 'Weight',
       'Math', 'Physics'],
      dtype='object')

### 索引排序

In [15]:
df_csv.set_index('Math').head() # 设置索引

     School Class    ID Gender   Address  Height  Weight Physics
Math
34.0    S_1   C_1  1101      M  street_1     173      63      A+
32.5    S_1   C_1  1102      F  street_2     192      73      B+
87.2    S_1   C_1  1103      M  street_2     186      82      B+
80.4    S_1   C_1  1104      F  street_2     167      81      B-
84.8    S_1   C_1  1105      F  street_4     159      64      B+

In [20]:
df_csv.set_index('Math').sort_index().head()

     School Class    ID Gender   Address  Height  Weight Physics
Math
31.5    S_1   C_3  1301      M  street_4     161      68      B+
32.5    S_1   C_1  1102      F  street_2     192      73      B+
32.7    S_2   C_3  2302      M  street_5     171      88       A
33.8    S_1   C_2  1204      F  street_5     162      63       B
34.0    S_1   C_1  1101      M  street_1     173      63      A+

### 值排序

In [22]:
df_csv.sort_values(by='Class').head()

   School Class    ID Gender   Address  Height  Weight  Math Physics
0     S_1   C_1  1101      M  street_1     173      63  34.0      A+
19    S_2   C_1  2105      M  street_4     170      81  34.2       A
18    S_2   C_1  2104      F  street_5     159      97  72.2      B+
16    S_2   C_1  2102      F  street_6     161      61  50.6      B+
15    S_2   C_1  2101      M  street_7     174      84  83.3       C

**多值排序**

In [23]:
df_csv.sort_values(by=['Address', 'Height']).head()

   School Class    ID Gender   Address  Height  Weight  Math Physics
0     S_1   C_1  1101      M  street_1     173      63  34.0      A+
11    S_1   C_3  1302      F  street_1     175      57  87.7      A-
23    S_2   C_2  2204      M  street_1     175      74  47.2      B-
33    S_2   C_4  2404      F  street_2     160      84  67.7       B
3     S_1   C_1  1104      F  street_2     167      81  80.4      B-

# 索引

In [2]:
df = pd.read_csv('../../dataset/pandas/table.csv', index_col='ID')
df.head()

     School Class Gender   Address  Height  Weight  Math Physics
ID
1101    S_1   C_1      M  street_1     173      63  34.0      A+
1102    S_1   C_1      F  street_2     192      73  32.5      B+
1103    S_1   C_1      M  street_2     186      82  87.2      B+
1104    S_1   C_1      F  street_2     167      81  80.4      B-
1105    S_1   C_1      F  street_4     159      64  84.8      B+

## 单级索引

### loc方法

最常用的索引方法可能就是这三类，其中iloc表示位置索引，loc表示标签索引，[]也具有很大的便利性，各有特点
- loc方法

In [44]:
# 单行索引
df.loc[1101]

# 多行索引
df.loc[[1102, 1103]]

df.loc[1101:1105]

# 多列索引
df.loc[:, 'Height'].head()

# 多列索引
df.loc[:, ['Height', 'Math']].head()
df.loc[:, 'Height':'Math'].head()

# 联合索引
df.loc[1102:2401:3, 'Height':'Math'].head()

      Height  Weight  Math
ID
1102     192      73  32.5
1105     159      64  84.8
1203     160      53  58.8
1301     161      68  31.5
1304     195      70  85.2

- 函数式索引

In [3]:
df.loc[lambda x: x['Gender']=='M'].head()

     School Class Gender   Address  Height  Weight  Math Physics
ID
1101    S_1   C_1      M  street_1     173      63  34.0      A+
1103    S_1   C_1      M  street_2     186      82  87.2      B+
1201    S_1   C_2      M  street_5     188      68  97.0      A-
1203    S_1   C_2      M  street_6     160      53  58.8      A+
1301    S_1   C_3      M  street_4     161      68  31.5      B+

- 布尔索引

In [6]:
df.loc[[True if i[-1]=='4' or i[-1]=='7' else False for i in df['Address'].values]].head()

     School Class Gender   Address  Height  Weight  Math Physics
ID
1105    S_1   C_1      F  street_4     159      64  84.8      B+
1202    S_1   C_2      F  street_4     176      94  63.5      B-
1301    S_1   C_3      M  street_4     161      68  31.5      B+
1303    S_1   C_3      M  street_7     188      82  49.7       B
2101    S_2   C_1      M  street_7     174      84  83.3       C

### iloc方法(切片右端点不包含)

In [13]:
print(df.head())

# 单行索引
df.iloc[0]

# 多行索引
df.iloc[3:5]

# 单列索引
df.iloc[:, 3].head()

# 多列索引
df.iloc[:, 7::-2].head()

# 混合索引
df.iloc[3::7, 7::-2].head()

     School Class Gender   Address  Height  Weight  Math Physics
ID
1101    S_1   C_1      M  street_1     173      63  34.0      A+
1102    S_1   C_1      F  street_2     192      73  32.5      B+
1103    S_1   C_1      M  street_2     186      82  87.2      B+
1104    S_1   C_1      F  street_2     167      81  80.4      B-
1105    S_1   C_1      F  street_4     159      64  84.8      B+

     Physics  Weight   Address Class
ID
1104      B-      81  street_2   C_1
1301      B+      68  street_4   C_3
2103      B-      61  street_4   C_1
2205       B      76  street_7   C_2
2402       B      82  street_7   C_4

### []操作符

### 布尔索引

### 区间索引

- 利用interval_range方法

In [3]:
pd.interval_range(start=0, end=5)

IntervalIndex([(0, 1], (1, 2], (2, 3], (3, 4], (4, 5]],
              closed='right',
              dtype='interval[int64]')

In [9]:
pd.interval_range(start=0, periods=8, freq=5)

IntervalIndex([(0, 5], (5, 10], (10, 15], (15, 20], (20, 25], (25, 30], (30, 35], (35, 40]],
              closed='right',
              dtype='interval[int64]')

- 利用cut将数值列转为区间为元素的分类变量，例如统计数学成绩的区间情况：

In [7]:
math_interval = pd.cut(df['Math'], bins=[0, 40, 60, 80, 100])
math_interval.head()

ID
1101      (0, 40]
1102      (0, 40]
1103    (80, 100]
1104    (80, 100]
1105    (80, 100]
Name: Math, dtype: category
Categories (4, interval[int64]): [(0, 40] < (40, 60] < (60, 80] < (80, 100]]

#### 区间的索引

In [14]:
df_i = df.join(math_interval, rsuffix='_interval')[['Math', 'Math_interval']].reset_index().set_index('Math_interval')
df_i.head()

                 ID  Math
Math_interval
(0, 40]        1101  34.0
(0, 40]        1102  32.5
(80, 100]      1103  87.2
(80, 100]      1104  80.4
(80, 100]      1105  84.8

In [16]:
df_i.loc[[80, 100]] # 索引的值包含在区间内就会选中

                 ID  Math
Math_interval
(60, 80]       1202  63.5
(60, 80]       1205  68.4
(60, 80]       1305  61.7
(60, 80]       2104  72.2
(60, 80]       2202  68.5
(60, 80]       2203  73.8
(60, 80]       2301  72.3
(60, 80]       2303  65.9
(60, 80]       2404  67.7
(80, 100]      1103  87.2
(80, 100]      1104  80.4
(80, 100]      1105  84.8
(80, 100]      1201  97.0
(80, 100]      1302  87.7
(80, 100]      1304  85.2
(80, 100]      2101  83.3
(80, 100]      2205  85.4
(80, 100]      2304  95.5

#### 如果想要选取某个区间，先要把分类变量转为区间变量，再使用overlap方法：

In [22]:
#df_i.loc[pd.Interval(70,75)].head() 报错
df_i[df_i.index.astype('interval').overlaps(pd.Interval(70, 85))].head()
#只要索引与(70,85]这个区间有交集就会被选中，注意pd.Interval默认构造区间都是左开右闭，可选closed参数right,left,both,neither

                 ID  Math
Math_interval
(80, 100]      1103  87.2
(80, 100]      1104  80.4
(80, 100]      1105  84.8
(80, 100]      1201  97.0
(60, 80]       1202  63.5

## 多级索引

### 创建索引

- 通过from_tuple或from_arrays

In [3]:
tuples = [('A', 'a'), ('A', 'b'), ('B', 'a'), ('B', 'b')]
multi_index = pd.MultiIndex.from_tuples(tuples, names=('Upper', 'Lower'))

pd.DataFrame({'Score':['perfect','good','fair','bad']},index=multi_index)

               Score
Upper Lower
A     a      perfect
      b         good
B     a         fair
      b          bad

- 利用zip创建元组

In [3]:
l1 = list('ABAB')
l2 = list('abab')
tuples = list(zip(l1, l2))
print(tuples)

mul_index = pd.MultiIndex.from_tuples(tuples, names=('Upper', 'Lower'))
pd.DataFrame({'score':['perfect', 'good', 'fair', 'bad']}, index=mul_index)

[('A', 'a'), ('B', 'b'), ('A', 'a'), ('B', 'b')]

               score
Upper Lower
A     a      perfect
B     b         good
A     a         fair
B     b          bad

In [4]:
tuples

[('A', 'a'), ('B', 'b'), ('A', 'a'), ('B', 'b')]

- 通过array创建，还是使用from_tuples

In [34]:
array = [['A', 'a'], ['A', 'b'], ['B', 'a'], ['B', 'b']]
mul_index = pd.MultiIndex.from_tuples(array, names=('Upper', 'Lower')) # 内部自动转成了元组
pd.DataFrame({'score':['perfect', 'good', 'fair', 'bad']}, index=mul_index)

               score
Upper Lower
A     a      perfect
      b         good
B     a         fair
      b          bad

- 通过from_product

In [36]:
l1 = ['A', 'B']
l2 = ['a', 'b']
pd.MultiIndex.from_product([l1, l2], names=('Upper', 'Lower'))

MultiIndex([('A', 'a'),
            ('A', 'b'),
            ('B', 'a'),
            ('B', 'b')],
           names=['Upper', 'Lower'])

- 指定df中的列为索引

In [4]:
df_using_mul = df.set_index(['Class', 'Address'])
df_using_mul.head()

               School Gender  Height  Weight  Math Physics
Class Address
C_1   street_1    S_1      M     173      63  34.0      A+
      street_2    S_1      F     192      73  32.5      B+
      street_2    S_1      M     186      82  87.2      B+
      street_2    S_1      F     167      81  80.4      B-
      street_4    S_1      F     159      64  84.8      B+

### 多层索引切片

- 一般切片

In [44]:
df_using_mul.sort_index().loc['C_2', 'street_4']

               School Gender  Height  Weight  Math Physics
Class Address
C_2   street_4    S_1      F     176      94  63.5      B-
      street_4    S_2      M     155      91  73.8      A+

In [45]:
df_using_mul.sort_index().loc[('C_2', 'street_5'):('C_3', 'street_4')]

               School Gender  Height  Weight  Math Physics
Class Address
C_2   street_5    S_1      M     188      68  97.0      A-
      street_5    S_1      F     162      63  33.8       B
      street_5    S_2      M     193     100  39.1       B
      street_6    S_1      M     160      53  58.8      A+
      street_6    S_1      F     167      63  68.4      B-
      street_7    S_2      F     194      77  68.5      B+
      street_7    S_2      F     183      76  85.4       B
C_3   street_1    S_1      F     175      57  87.7      A-
      street_2    S_1      M     195      70  85.2       A
      street_4    S_1      M     161      68  31.5      B+
      street_4    S_2      F     157      78  72.3      B+
      street_4    S_2      M     187      73  48.9       B

- 第一类特殊情况：由元组构成列表

In [47]:
df_using_mul.sort_index().loc[[('C_2','street_7'),('C_3','street_2')]]
# 表示选出某几个元素，精确到最内层索引

               School Gender  Height  Weight  Math Physics
Class Address
C_2   street_7    S_2      F     194      77  68.5      B+
      street_7    S_2      F     183      76  85.4       B
C_3   street_2    S_1      M     195      70  85.2       A

- 第二类特殊情况：由列表构成元组

In [50]:
df_using_mul.sort_index().loc[(['C_2', 'C_3'], ['street_4', 'street_5']), :]
#选出第一层在‘C_2’和'C_3'中且第二层在'street_4'和'street_7'中的行，对列表中的元素交叉索引

               School Gender  Height  Weight  Math Physics
Class Address
C_2   street_4    S_1      F     176      94  63.5      B-
      street_4    S_2      M     155      91  73.8      A+
      street_5    S_1      M     188      68  97.0      A-
      street_5    S_1      F     162      63  33.8       B
      street_5    S_2      M     193     100  39.1       B
C_3   street_4    S_1      M     161      68  31.5      B+
      street_4    S_2      F     157      78  72.3      B+
      street_4    S_2      M     187      73  48.9       B
      street_5    S_1      F     187      69  61.7      B-
      street_5    S_2      M     171      88  32.7       A

### 多层索引中的slice对象

In [5]:
l1, l2 = ['A', 'B'], ['a', 'b', 'c']
mul_index1 = pd.MultiIndex.from_product((l1, l2), names=('Upper', 'Lower'))

l3 = list('DEF')
l4 = list('def')
mul_index2 = pd.MultiIndex.from_product([l3, l4], names=('Big', 'Small'))

df_s = pd.DataFrame(np.random.rand(6,9), index=mul_index1, columns=mul_index2)
df_s

Big                 D                             E                      \
Small               d         e         f         d         e         f
Upper Lower
A     a      0.507387  0.330756  0.553604  0.417672  0.226047  0.064715
      b      0.184880  0.941013  0.316470  0.670910  0.861931  0.283202
      c      0.597763  0.668199  0.066035  0.834033  0.529051  0.325226
B     a      0.413654  0.677478  0.589911  0.892302  0.137205  0.784877
      b      0.365666  0.266817  0.242240  0.940507  0.520560  0.766713
      c      0.155232  0.578018  0.215962  0.537461  0.031791  0.517454

Big                 F
Small               d         e         f
Upper Lower
A     a      0.609823  0.765472  0.887637
      b      0.254635  0.772347  0.909012
      c      0.637685  0.402157  0.636105
B     a      0.127116  0.818802  0.245076
      b      0.480797  0.037079  0.726948
      c      0.704943  0.974477  0.026264

IndexSlice本质上是对多个Slice对象的包装  
索引Slice可以与loc一起完成切片操作

- loc[idx[*, *]]方法  
第一个星号表示行，第二个表示列，且使用布尔索引时，需要索引对齐

- loc[idx[*,*],idx[*,*]]型  
这里与上面的区别在于上面的loc是没有逗号隔开的，但此处是用逗号隔开，前面一个idx表示行索引，后面一个idx为列索引

### 索引层的交换

- swaplevel方法

In [9]:
df_using_mul.head()

               School Gender  Height  Weight  Math Physics
Class Address
C_1   street_1    S_1      M     173      63  34.0      A+
      street_2    S_1      F     192      73  32.5      B+
      street_2    S_1      M     186      82  87.2      B+
      street_2    S_1      F     167      81  80.4      B-
      street_4    S_1      F     159      64  84.8      B+

In [5]:
df_using_mul.swaplevel??

Signature: df_using_mul.swaplevel(i=-2, j=-1, axis=0) -> 'DataFrame'
Source:
    def swaplevel(self, i=-2, j=-1, axis=0) -> "DataFrame":
        """
        Swap levels i and j in a MultiIndex on a particular axis.

        Parameters
        ----------
        i, j : int or str
            Levels of the indices to be swapped. Can pass level name as string.

        Returns
        -------
        DataFrame
        """
        result = self.copy()

        axis = self._get_axis_number(axis)
        if axis == 0:
            result.index = result.index.swaplevel(i, j)
        else:
            result.columns = result.columns.swaplevel(i, j)
        return result
File:      ~/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py
Type:      method

In [6]:
df_using_mul.swaplevel('Class', 'Address').sort_index().head()

               School Gender  Height  Weight  Math Physics
Address  Class
street_1 C_1      S_1      M     173      63  34.0      A+
         C_2      S_2      M     175      74  47.2      B-
         C_3      S_1      F     175      57  87.7      A-
street_2 C_1      S_1      F     192      73  32.5      B+
         C_1      S_1      M     186      82  87.2      B+

In [7]:
df_using_mul.swaplevel(i=-2, j=-1).sort_index().head()

               School Gender  Height  Weight  Math Physics
Address  Class
street_1 C_1      S_1      M     173      63  34.0      A+
         C_2      S_2      M     175      74  47.2      B-
         C_3      S_1      F     175      57  87.7      A-
street_2 C_1      S_1      F     192      73  32.5      B+
         C_1      S_1      M     186      82  87.2      B+

- reorder_levels方法

In [10]:
df_muls = df.set_index(['School', 'Class', 'Address'])
df_muls.head()

                      Gender  Height  Weight  Math Physics
School Class Address
S_1    C_1   street_1      M     173      63  34.0      A+
             street_2      F     192      73  32.5      B+
             street_2      M     186      82  87.2      B+
             street_2      F     167      81  80.4      B-
             street_4      F     159      64  84.8      B+

In [11]:
df_muls.reorder_levels([2,0,1], axis=0).sort_index().head()

                      Gender  Height  Weight  Math Physics
Address  School Class
street_1 S_1    C_1        M     173      63  34.0      A+
                C_3        F     175      57  87.7      A-
         S_2    C_2        M     175      74  47.2      B-
street_2 S_1    C_1        F     192      73  32.5      B+
                C_1        M     186      82  87.2      B+

In [13]:
#如果索引有name，可以直接使用name
df_muls.reorder_levels(['Address', 'Class', 'School']).sort_index().head()

                      Gender  Height  Weight  Math Physics
Address  Class School
street_1 C_1   S_1         M     173      63  34.0      A+
         C_2   S_2         M     175      74  47.2      B-
         C_3   S_1         F     175      57  87.7      A-
street_2 C_1   S_1         F     192      73  32.5      B+
               S_1         M     186      82  87.2      B+

## 索引的设定

### index_col参数

In [6]:
os.getcwd()

'/Users/machuan/CodeSpace/python3/python3_books/pandas学习'

In [8]:
pd.read_csv('../../dataset/pandas/table.csv', index_col=['Address', 'School']).head()

                Class    ID Gender  Height  Weight  Math Physics
Address  School
street_1 S_1      C_1  1101      M     173      63  34.0      A+
street_2 S_1      C_1  1102      F     192      73  32.5      B+
         S_1      C_1  1103      M     186      82  87.2      B+
         S_1      C_1  1104      F     167      81  80.4      B-
street_4 S_1      C_1  1105      F     159      64  84.8      B+

### reindex和reindex_like  
reindex是指重新索引，它的重要特性在于索引对齐，很多时候用于重新排序

In [9]:
df.head()

     School Class Gender   Address  Height  Weight  Math Physics
ID
1101    S_1   C_1      M  street_1     173      63  34.0      A+
1102    S_1   C_1      F  street_2     192      73  32.5      B+
1103    S_1   C_1      M  street_2     186      82  87.2      B+
1104    S_1   C_1      F  street_2     167      81  80.4      B-
1105    S_1   C_1      F  street_4     159      64  84.8      B+

In [11]:
df.shape

(35, 8)

In [12]:
df.reindex(index=[1101, 1203, 1206, 2402]).shape

(4, 8)

In [13]:
df.reindex(columns=['Height', 'Gender', 'Average']).head()

      Height Gender  Average
ID
1101     173      M      NaN
1102     192      F      NaN
1103     186      M      NaN
1104     167      F      NaN
1105     159      F      NaN

In [14]:
df.reindex??

Signature:
df.reindex(
    labels=None,
    index=None,
    columns=None,
    axis=None,
    method=None,
    copy=True,
    level=None,
    fill_value=nan,
    limit=None,
    tolerance=None,
)
Docstring:
Conform DataFrame to new index with optional filling logic.

Places NA/NaN in locations having no value in the previous index. A new object
is produced unless the new index is equivalent to the current one and
``copy=False``.

Parameters
----------
labels : array-like, optional
            New labels / index to conform the axis specified by 'axis' to.
index, columns : array-like, optional
    New labels / index to conform to, should be specified using
    keywords. Preferably an Index object to avoid duplicating data.
axis : int or str, optional
            Axis to target. Can be either the axis name ('index', 'columns')
            or number (0, 1).
method : {None, 'backfill'/'bfill', 'pad'/'ffill', 'nearest'}
    Method to use for filling holes in reindexed DataFrame.
    Please note: this is only applicable to DataFrames/Series with a
    monotonically increasing/decreasing index.

    * None (default): don't fill gaps
    * pad / ffill: Propagate last valid observation forward to next
      valid.
    * backfill / bfill: Use next valid observation to fill gap.
    * nearest: Use nearest valid observations to fill gap.

copy : bool, default True
    Return a new object, even if the passed indexes are the same.
level : int or name
    Broadcast across a level, matching Index values on the
    passed MultiIndex level.
fill_value : scalar, default np.NaN
    Value to use for missing values. Defaults to NaN, but can be any
    "compatible" value.
limit : int, default None
    Maximum number of consecutive elements to forward or backward fill.
tolerance : optional
    Maximum distance between original and new labels for inexact
    matches. The values of the index at the matching locations most
    satisfy the equation ``abs(index[indexer] - target) <= tolerance``.

    Tolerance may be a scalar value, which applies the same tolerance
    to all values, or list-like, which applies variable tolerance per
    element. List-like includes list, tuple, array, Series, and must be
    the same size as the index and its dtype must exactly match the
    index's type.

    .. versionadded:: 0.21.0 (list-like tolerance)

Returns
-------
DataFrame with changed index.

See Also
--------
DataFrame.set_index : Set row labels.
DataFrame.reset_index : Remove row labels or move them to new columns.
DataFrame.reindex_like : Change to same indices as other DataFrame.

Examples
--------

``DataFrame.reindex`` supports two calling conventions

* ``(index=index_labels, columns=column_labels, ...)``
* ``(labels, axis={'index', 'columns'}, ...)``

We *highly* recommend using keyword arguments to clarify your
intent.

Create a dataframe with some fictional data.

>>> index = ['Firefox', 'Chrome', 'Safari', 'IE10', 'Konqueror']
>>> df = pd.DataFrame({'http_status': [200, 200, 404, 404, 301],
...                   'response_time': [0.04, 0.02, 0.07, 0.08, 1.0]},
...                   index=index)
>>> df
           http_status  response_time
Firefox            200           0.04
Chrome             200           0.02
Safari             404           0.07
IE10               404           0.08
Konqueror          301           1.00

Create a new index and reindex the dataframe. By default
values in the new index that do not have corresponding
records in the dataframe are assigned ``NaN``.

>>> new_index = ['Safari', 'Iceweasel', 'Comodo Dragon', 'IE10',
...              'Chrome']
>>> df.reindex(new_index)
               http_status  response_time
Safari               404.0           0.07
Iceweasel              NaN            NaN
Comodo Dragon          NaN            NaN
IE10                 404.0           0.08
Chrome               200.0           0.02

We can fill in the missing values by passing a value to
the keyword ``fill_value``. Because the index is not monotonically
increasing or decreasing, we cannot use arguments to the keyword
``method`` to fill the ``NaN`` values.

>>> df.reindex(new_index, fill_value=0)
               http_status  response_time
Safari                 404           0.07
Iceweasel                0           0.00
Comodo Dragon            0           0.00
IE10                   404           0.08
Chrome                 200           0.02

>>> df.reindex(new_index, fill_value='missing')
              http_status response_time
Safari                404          0.07
Iceweasel         missing       missing
Comodo Dragon     missing       missing
IE10                  404          0.08
Chrome                200          0.02

We can also reindex the columns.

>>> df.reindex(columns=['http_status', 'user_agent'])
           http_status  user_agent
Firefox            200         NaN
Chrome             200         NaN
Safari             404         NaN
IE10               404         NaN
Konqueror          301         NaN

Or we can use "axis-style" keyword arguments

>>> df.reindex(['http_status', 'user_agent'], axis="columns")
           http_status  user_agent
Firefox            200         NaN
Chrome             200         NaN
Safari             404         NaN
IE10               404         NaN
Konqueror          301         NaN

To further illustrate the filling functionality in
``reindex``, we will create a dataframe with a
monotonically increasing index (for example, a sequence
of dates).

>>> date_index = pd.date_range('1/1/2010', periods=6, freq='D')
>>> df2 = pd.DataFrame({"prices": [100, 101, np.nan, 100, 89, 88]},
...                    index=date_index)
>>> df2
            prices
2010-01-01   100.0
2010-01-02   101.0
2010-01-03     NaN
2010-01-04   100.0
2010-01-05    89.0
2010-01-06    88.0

Suppose we decide to expand the dataframe to cover a wider
date range.

>>> date_index2 = pd.date_range('12/29/2009', periods=10, freq='D')
>>> df2.reindex(date_index2)
            prices
2009-12-29     NaN
2009-12-30     NaN
2009-12-31     NaN
2010-01-01   100.0
2010-01-02   101.0
2010-01-03     NaN
2010-01-04   100.0
2010-01-05    89.0
2010-01-06    88.0
2010-01-07     NaN

The index entries that did not have a value in the original data frame
(for example, '2009-12-29') are by default filled with ``NaN``.
If desired, we can fill in the missing values using one of several
options.

For example, to back-propagate the last valid value to fill the ``NaN``
values, pass ``bfill`` as an argument to the ``method`` keyword.

>>> df2.reindex(date_index2, method='bfill')
            prices
2009-12-29   100.0
2009-12-30   100.0
2009-12-31   100.0
2010-01-01   100.0
2010-01-02   101.0
2010-01-03     NaN
2010-01-04   100.0
2010-01-05    89.0
2010-01-06    88.0
2010-01-07     NaN

Please note that the ``NaN`` value present in the original dataframe
(at index value 2010-01-03) will not be filled by any of the
value propagation schemes. This is because filling while reindexing
does not look at dataframe values, but only compares the original and
desired indexes. If you do want to fill in the ``NaN`` values present
in the original dataframe, use the ``fillna()`` method.

See the :ref:`user guide <basics.reindexing>` for more.
Source:
    @Substitution(**_shared_doc_kwargs)
    @Appender(NDFrame.reindex.__doc__)
    @rewrite_axis_style_signature(
        "labels",
        [
            ("method", None),
            ("copy", True),
            ("level", None),
            ("fill_value", np.nan),
            ("limit", None),
            ("tolerance", None),
        ],
    )
    def reindex(self, *args, **kwargs) -> "DataFrame":
        axes = validate_axis_style_args(self, args, kwargs, "labels", "reindex")
        kwargs.update(axes)
        # Pop these, since the values are in `kwargs` under different names
        kwargs.pop("axis", None)
        kwargs.pop("labels", None)
        return super().reindex(**kwargs)
File:      ~/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py
Type:      method

In [15]:
df.reindex(index=[1101, 1203, 1206, 2402], method='bfill').head()

     School Class Gender   Address  Height  Weight  Math Physics
ID
1101    S_1   C_1      M  street_1     173      63  34.0      A+
1203    S_1   C_2      M  street_6     160      53  58.8      A+
1206    S_1   C_3      M  street_4     161      68  31.5      B+
2402    S_2   C_4      M  street_7     166      82  48.7       B

reindex_like的作用为生成一个横纵索引完全与参数列表一致的DataFrame，数据使用被调用的表

In [1]:
import handcalcs.render

In [2]:
%%render
a=2
b=3
c=2*a+3*b