# 第1章 pandas基础

In [3]:
import numpy as np
import pandas as pd
from pandas import DataFrame
import os

In [5]:
pd.__version__

'1.0.3'

In [3]:
os.getcwd()

'/Users/machuan/CodeSpace/python3/python3_books/pandas学习'

In [8]:
df_csv = pd.read_csv('../../dataset/pandas/table.csv')
df_csv.head()

  School Class    ID Gender   Address  Height  Weight  Math Physics
0    S_1   C_1  1101      M  street_1     173      63  34.0      A+
1    S_1   C_1  1102      F  street_2     192      73  32.5      B+
2    S_1   C_1  1103      M  street_2     186      82  87.2      B+
3    S_1   C_1  1104      F  street_2     167      81  80.4      B-
4    S_1   C_1  1105      F  street_4     159      64  84.8      B+

## 一、文件的读取和写入

### （a）CSV格式

### (b) txt格式

In [4]:
df_text = pd.read_table('../../dataset/pandas/table.txt')
df_text

   col1 col2  col3    col4
0     2    a   1.4   apple
1     3    b   3.4  banana
2     6    c   2.5  orange
3     5    d   3.2   lemon

### (c)xls或xlsx格式

In [5]:
# 需要安装xlrd包
df_excel = pd.read_excel('../../dataset/pandas/table.xlsx')
df_excel.head()

  School Class    ID Gender   Address  Height  Weight  Math Physics
0    S_1   C_1  1101      M  street_1     173      63  34.0      A+
1    S_1   C_1  1102      F  street_2     192      73  32.5      B+
2    S_1   C_1  1103      M  street_2     186      82  87.2      B+
3    S_1   C_1  1104      F  street_2     167      81  80.4      B-
4    S_1   C_1  1105      F  street_4     159      64  84.8      B+

## 2.写入

### (a) CSV格式

In [ ]:
# df.to_csv('data/new_table.csv', index=False) # 保存时去掉行所索引

### (b) xlsx格式

In [7]:
# 需要安装openpyxl包
# df.to_excel('data/new_table2.xlsx', sheet_name='Sheet1')

In [6]:
# 需要安装openpyxl包
# df.to_excel('data/new_table2.xlsx', sheet_name='Sheet1')

## 二、基本数据结构

### 1.Series

#### (a)创建一个Series

In [8]:
s = pd.Series(np.random.randn(5),index=['a','b','c','d','e'],name='这是一个Series',dtype='float64')
s

a   -0.463212
b    1.320208
c    0.492121
d   -0.393636
e    0.231170
Name: 这是一个Series, dtype: float64

#### (b)访问Series属性

In [12]:
print(s.values)
print(s.index)
print(s.dtype)
print(s.name)

[ 0.21818677  0.88138515  0.17436295 -0.48236052  1.20026976]
Index(['a', 'b', 'c', 'd', 'e'], dtype='object')
float64
这是一个Series

#### (c) 取出一个元素

In [13]:
s['a']

0.21818677035074768

#### (d) 调用方法

In [16]:
s.mean()

0.3983688216132283

#### Series有相当多的方法可以调用

In [18]:
print([attr for attr in dir(s) if not attr.startswith('_')])

['T', 'a', 'abs', 'add', 'add_prefix', 'add_suffix', 'agg', 'aggregate', 'align', 'all', 'any', 'append', 'apply', 'argmax', 'argmin', 'argsort', 'array', 'asfreq', 'asof', 'astype', 'at', 'at_time', 'attrs', 'autocorr', 'axes', 'b', 'between', 'between_time', 'bfill', 'bool', 'c', 'clip', 'combine', 'combine_first', 'convert_dtypes', 'copy', 'corr', 'count', 'cov', 'cummax', 'cummin', 'cumprod', 'cumsum', 'd', 'describe', 'diff', 'div', 'divide', 'divmod', 'dot', 'drop', 'drop_duplicates', 'droplevel', 'dropna', 'dtype', 'dtypes', 'duplicated', 'e', 'empty', 'eq', 'equals', 'ewm', 'expanding', 'explode', 'factorize', 'ffill', 'fillna', 'filter', 'first', 'first_valid_index', 'floordiv', 'ge', 'get', 'groupby', 'gt', 'hasnans', 'head', 'hist', 'iat', 'idxmax', 'idxmin', 'iloc', 'index', 'infer_objects', 'interpolate', 'is_monotonic', 'is_monotonic_decreasing', 'is_monotonic_increasing', 'is_unique', 'isin', 'isna', 'isnull', 'item', 'items', 'iteritems', 'keys', 'kurt', 'kurtosis', 'last', 'last_valid_index', 'le', 'loc', 'lt', 'mad', 'map', 'mask', 'max', 'mean', 'median', 'memory_usage', 'min', 'mod', 'mode', 'mul', 'multiply', 'name', 'nbytes', 'ndim', 'ne', 'nlargest', 'notna', 'notnull', 'nsmallest', 'nunique', 'pct_change', 'pipe', 'plot', 'pop', 'pow', 'prod', 'product', 'quantile', 'radd', 'rank', 'ravel', 'rdiv', 'rdivmod', 'reindex', 'reindex_like', 'rename', 'rename_axis', 'reorder_levels', 'repeat', 'replace', 'resample', 'reset_index', 'rfloordiv', 'rmod', 'rmul', 'rolling', 'round', 'rpow', 'rsub', 'rtruediv', 'sample', 'searchsorted', 'sem', 'set_axis', 'shape', 'shift', 'size', 'skew', 'slice_shift', 'sort_index', 'sort_values', 'squeeze', 'std', 'sub', 'subtract', 'sum', 'swapaxes', 'swaplevel', 'tail', 'take', 'to_clipboard', 'to_csv', 'to_dict', 'to_excel', 'to_frame', 'to_hdf', 'to_json', 'to_latex', 'to_list', 'to_markdown', 'to_numpy', 'to_period', 'to_pickle', 'to_sql', 'to_string', 'to_timestamp', 'to_xarray', 'transform', 'transpose', 'truediv', 'truncate', 'tshift', 'tz_convert', 'tz_localize', 'unique', 'unstack', 'update', 'value_counts', 'values', 'var', 'view', 'where', 'xs']

### 2. DataFrame

#### (a)创建一个DataFrame

In [4]:
df = pd.DataFrame({'col1':list('abcde'),'col2':range(5,10),'col3':[1.3,2.5,3.6,4.6,5.8]},
                 index=list('一二三四五'))
df

  col1  col2  col3
一    a     5   1.3
二    b     6   2.5
三    c     7   3.6
四    d     8   4.6
五    e     9   5.8

#### (b)从DataFrame取出一列为Series

In [12]:
type(df['col1'])

pandas.core.series.Series

#### (c) 修改行列名

In [5]:
print(df.index)
print(df.columns)

Index(['一', '二', '三', '四', '五'], dtype='object')
Index(['col1', 'col2', 'col3'], dtype='object')

In [6]:
df.rename(index={'一':'one'}, columns={'col1':'new_col1'})

    new_col1  col2  col3
one        a     5   1.3
二          b     6   2.5
三          c     7   3.6
四          d     8   4.6
五          e     9   5.8

## 四、排序

In [11]:
print('index is:',df_csv.index)
print('columns is:', df_csv.columns)

index is: RangeIndex(start=0, stop=35, step=1)
columns is: Index(['School', 'Class', 'ID', 'Gender', 'Address', 'Height', 'Weight',
       'Math', 'Physics'],
      dtype='object')

### 1、索引排序

In [15]:
df_csv.set_index('Math').head() # 设置索引

     School Class    ID Gender   Address  Height  Weight Physics
Math
34.0    S_1   C_1  1101      M  street_1     173      63      A+
32.5    S_1   C_1  1102      F  street_2     192      73      B+
87.2    S_1   C_1  1103      M  street_2     186      82      B+
80.4    S_1   C_1  1104      F  street_2     167      81      B-
84.8    S_1   C_1  1105      F  street_4     159      64      B+

In [20]:
df_csv.set_index('Math').sort_index().head()

     School Class    ID Gender   Address  Height  Weight Physics
Math
31.5    S_1   C_3  1301      M  street_4     161      68      B+
32.5    S_1   C_1  1102      F  street_2     192      73      B+
32.7    S_2   C_3  2302      M  street_5     171      88       A
33.8    S_1   C_2  1204      F  street_5     162      63       B
34.0    S_1   C_1  1101      M  street_1     173      63      A+

### 2、值排序

In [22]:
df_csv.sort_values(by='Class').head()

   School Class    ID Gender   Address  Height  Weight  Math Physics
0     S_1   C_1  1101      M  street_1     173      63  34.0      A+
19    S_2   C_1  2105      M  street_4     170      81  34.2       A
18    S_2   C_1  2104      F  street_5     159      97  72.2      B+
16    S_2   C_1  2102      F  street_6     161      61  50.6      B+
15    S_2   C_1  2101      M  street_7     174      84  83.3       C

**多值排序**

In [23]:
df_csv.sort_values(by=['Address', 'Height']).head()

   School Class    ID Gender   Address  Height  Weight  Math Physics
0     S_1   C_1  1101      M  street_1     173      63  34.0      A+
11    S_1   C_3  1302      F  street_1     175      57  87.7      A-
23    S_2   C_2  2204      M  street_1     175      74  47.2      B-
33    S_2   C_4  2404      F  street_2     160      84  67.7       B
3     S_1   C_1  1104      F  street_2     167      81  80.4      B-