In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame
import os

In [5]:
pd.__version__

'1.0.3'

In [2]:
os.getcwd()

'/Users/machuan/CodeSpace/python3/python3_books/pandas学习'

# 一、文件的读取和写入

## 1、读取

### （a）CSV格式

In [6]:
df = pd.read_csv('../../dataset/pandas/table.csv')
df.head()

  School Class    ID Gender   Address  Height  Weight  Math Physics
0    S_1   C_1  1101      M  street_1     173      63  34.0      A+
1    S_1   C_1  1102      F  street_2     192      73  32.5      B+
2    S_1   C_1  1103      M  street_2     186      82  87.2      B+
3    S_1   C_1  1104      F  street_2     167      81  80.4      B-
4    S_1   C_1  1105      F  street_4     159      64  84.8      B+